#img-sidebar-logo {
    border-radius: 50%;
    text-align: center;
}

#logo-sidebar {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(75 99 254);
}

#email-logo {
    color: rgb(148 148 148);
    margin-bottom: 5px;
    font-style: italic;
    font-size: 15px;
}

#name-login {
    font-size: 17px;
    padding-left: 10px;
}

#logo-name {
    font-size: 20px;
    font-style: italic;
    margin-left: 25px;
}